.color0{
    height: 50px;
    width: 50px;
    background-color: peachpuff;
}
.color1{
    height: 50px;
    width: 50px;
    background-color: black;
}
#board {
    display: flex;
}
*{
    background-color: grey;
}
