<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory:wght@100&display=swap" rel="stylesheet"> 
</head>
<body>
    <h1>HTML Table</h1>
    <table>
        <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Full Name</td>
        </thead>
        <tbody>
            {% for user in list: %}
            <tr>
                <td>{{user.first}}</td>
                <td>{{user.last}}</td>
                <td>{{user.first}} {{user.last}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>