<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrapper">
        <h3>Checkerboard</h3>
    </div>
    <table id="board">
    {% for i in range(y): %}
        <tr>
            {% for j in range(x): %}
            <td class="color{{ (i+j)%2 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
        
</body>
</html>