*{
    padding: 5px;
    margin: 5px;
}

.flexer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border: 1px solid black;
    width: 15vw;
    display: inline-block;
    justify-content: space-around;
}
.history{
    height: 100px;
    overflow: scroll;
    border: 2px solid black;
}